<div class="container">
	<div class="row">
		<div class="col-md-12">
			<h1 class="col-md-6 col-md-offset-4"><%= @item.album_name %></h1>
		</div>
		<div class="title col-md-12"></div>
	</div>

	<div class="row">
		<div class="col-md-4">
			<%= attachment_image_tag @item, :cd_image, class: "img-thumbnail cdcover", fallback: "no_image.jpg"%>
		</div>
		<div class="col-md-8">
			<div class="col-md-12">
				<h4>アーティスト：<ruby>
									<%= @item.artist_name %><rt><%= @item.artist_name_kana %></rt>
								</ruby>
				</h4>
				<h4>ジャンル：<%= @item.genre %></h4>
				<h4>ラーベル: <%= @item.label_name %></h4>
				<h4>販売日：<%= @item.luanch_date.strftime('%Y年%m月%d日') %></h4>
				<h4>在庫数：<%= @item.stock %> 個</h4>
				<h4>¥ <%= @item.price.to_s(:delimited) %></h4>
				<%= link_to item_path(@item), class: "btn btn-primary" do %>カート入れ<i class="fa fa-shopping-cart" aria-hidden="true"></i><% end %>
			</div>
		</div>
	</div>
	<div class="row space">
	</div>
	<div class="row"> 
		<div class="col-md-12">
		<% for disc in @item.discs %>			
			<table class="table">
				<thead>
					<tr>
						<th class="table-header" colspan="3">ディスク<%= disc.disc_number%>&nbsp;&nbsp;&nbsp;&nbsp;<%= disc.disc_name %></th>
					</tr>
					<tr>
						<th>番号</th>
						<th>歌手</th>
						<th>曲名</th>
					<tr>
				</thead>
				<tbody>
					<% for track in disc.tracks %>
						<tr>
								<td><%= track.track_number %></td>
								<td><%= track.artist_name %></td>
								<td><%= track.track_name %></td>		
						</tr>
					<% end %>		
				</tbody>
			</table>
		<% end%>
		</div>
	</div>
</div>